* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat Regular;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header .container {
  display: flex;
  align-items: center;
  padding: 27px;
}
header .container .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
header .container .verticalLine {
  width: 1px;
  height: 40px;
  background-color: rgb(185, 185, 185);
}
header .container .category {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
header .container button {
  width: 176px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #2b4eff;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
header .container input {
  margin-right: 20px;
  height: 50px;
  border: none;
  outline: none;
  background: #edeef3;
  color: gray;
  padding-left: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
header .container input input:focus {
  border-color: #2b4eff;
}
header .container .navLinks {
  width: 83%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header .container .navLinks li {
  margin-left: 30px;
}
header .container .navLinks li a {
  color: black;
  font-weight: 500;
}

.access {
  position: relative;
}
.access .shape {
  height: 300px;
}
.access .shape .circle-1 {
  position: absolute;
  bottom: 29%;
  left: 0;
}
.access .shape .circle-2 {
  position: absolute;
  right: 0px;
  bottom: 38%;
}
.access .shape .pink-circle {
  position: absolute;
  top: 25%;
  left: 5%;
  animation: 6s linear 0s infinite alternate none running hero-circle-1;
}
.access .container {
  display: flex;
  max-width: 1255px;
}
.access .container .content {
  margin-left: 35px;
}
.access .container .content h3 {
  font-size: 60px;
  line-height: 1;
}
.access .container .content h3 .text {
  font-weight: 300;
  display: block;
}
.access .container .content h3 .yellow-shape {
  position: relative;
}
.access .container .content h3 .yellow-shape img {
  position: absolute;
  bottom: -2px;
  left: -8px;
  animation: 3s ease 0s infinite normal none running section-animation;
  transition: all 0.3s ease-out 0s;
}
.access .container .content p {
  font-size: 22px;
  color: rgb(14, 17, 51);
  padding-right: 130px;
  line-height: 30px;
  margin-bottom: 28px;
  margin-top: 20px;
}
.access .container .content a {
  display: inline-block;
  height: 50px;
  line-height: 52px;
  text-align: center;
  padding: 0px 25px;
  color: rgb(255, 255, 255);
  background: rgb(43, 78, 255);
  border-radius: 4px;
  font-weight: 500;
}
.access .container .all {
  display: flex;
}
.access .container .all .image {
  margin-right: 30px;
  position: relative;
}
.access .container .all .image .hero-shape .hero-dot {
  position: absolute;
  z-index: -1;
  bottom: -25px;
  left: -30px;
  animation: 5s linear 0s infinite alternate none running hero-dot-1;
}
.access .container .all .image .hero-circle {
  position: absolute;
  z-index: -1;
  bottom: -47px;
  right: -49%;
}
.access .container .all .image .circle {
  position: absolute;
  top: -50px;
  right: -26%;
}
.access .container .all .image img {
  max-width: 400px;
  max-height: 460px;
  border-radius: 40px 4px;
  box-shadow: rgba(1, 11, 60, 0.14) 0px 30px 60px;
}
.access .container .all .image .quote-animation {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: hero-bounce;
  position: absolute;
  bottom: 60px;
  right: -200px;
  padding: 15px 25px 20px;
  width: 274px;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: rgba(1, 11, 60, 0.14) 0px 30px 60px;
}
.access .container .all .image .quote-animation span {
  font-size: 14px;
  color: rgb(71, 73, 86);
}
.access .container .all .image .quote-animation h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0px;
  line-height: 1;
}
.access .container .all .hero-thumb {
  margin-top: 50px;
}
.access .container .all .hero-thumb img {
  max-width: 200px;
  max-height: 240px;
  border-radius: 4px 40px;
  box-shadow: rgba(1, 11, 60, 0.14) 0px 30px 60px;
}

.explore {
  padding-bottom: 70px;
  padding-top: 120px;
}
.explore .container .title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 12px;
}
.explore .container .title h2 {
  font-size: 40px;
  color: rgb(14, 17, 51);
  text-transform: capitalize;
}
.explore .container .title h2 span {
  transition: all 0.3s ease-out 0s;
  position: relative;
}
.explore .container .title h2 span img {
  position: absolute;
  left: -14px;
  bottom: -4px;
  z-index: -1;
  animation: 3s ease 0s infinite normal none running section-animation;
}
.explore .container .title a {
  position: relative;
  font-size: 16px;
  color: rgb(109, 110, 117);
  font-weight: 500;
  padding-right: 21px;
  display: inline-block;
}
.explore .container .title a:hover {
  color: blue;
}
.explore .container .title a i {
  transition: all 0.3s ease-out 0s;
}
.explore .container .boxes {
  display: flex;
  flex-wrap: wrap;
  margin-top: 46px;
}
.explore .container .boxes .box {
  display: flex;
  width: 31%;
  margin: 12px;
  padding: 20px 40px;
  border-radius: 6px;
  border: 2px solid rgb(238, 240, 246);
  transition: all 0.3s ease-out 0s;
}
.explore .container .boxes .box svg {
  width: 40px;
  height: 40px;
  fill: rgb(52, 68, 241);
  margin-right: 30px;
}
.explore .container .boxes .box svg .st2,
.explore .container .boxes .box svg .st5 {
  fill: rgb(255, 179, 31);
}
.explore .container .boxes .box .text h4 {
  font-size: 20px;
  font-weight: 1200;
  line-height: 1;
  transition: all 0.3s ease-out 0s;
  cursor: pointer;
}
.explore .container .boxes .box .text p {
  font-size: 16px;
  font-weight: 500;
  color: rgb(109, 110, 117);
  line-height: 26px;
}
.explore .container .boxes .box:hover {
  background-color: blue;
  border: blue;
  box-shadow: rgba(4, 23, 118, 0.3) 0px 10px 24px;
}
.explore .container .boxes .box:hover svg {
  fill: #fff;
}
.explore .container .boxes .box:hover .st2,
.explore .container .boxes .box:hover .st5 {
  fill: #fff;
}
.explore .container .boxes .box:hover h4 {
  color: #fff;
}
.explore .container .boxes .box:hover p {
  color: #fff;
}

.courses {
  padding-bottom: 110px;
}
.courses .container .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 50px;
}
.courses .container .cards .card {
  display: flex;
  background: url(https://ng-educal-by.netlify.app/assets/img/banner/banner-bg-1.jpg) center center/cover no-repeat;
  width: 49%;
  border-radius: 4px;
  padding: 50px 40px;
}
.courses .container .cards .card .content {
  position: relative;
}
.courses .container .cards .card .content span {
  font-size: 14px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background: rgb(252, 67, 137);
  line-height: 22px;
  padding: 1px 14px;
  margin-bottom: 15px;
  border-radius: 10px;
  text-transform: capitalize;
}
.courses .container .cards .card .content h3 {
  font-size: 26px;
  color: rgb(14, 17, 51);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.2;
  margin-bottom: 30px;
  margin-top: 14px;
  transition: all 0.3s ease-out 0s;
}
.courses .container .cards .card .content a {
  line-height: 36px;
  padding: 10px 20px;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
  background: rgb(43, 78, 255);
  border-radius: 4px;
  font-weight: 500;
  text-transform: capitalize;
}
.courses .container .cards .card .content a:hover {
  box-shadow: rgba(4, 23, 118, 0.3) 0px 10px 24px;
}
.courses .container .cards .card .content img {
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
  left: 79%;
}

.trending {
  background: rgb(243, 244, 248);
  padding-bottom: 120px;
  padding-top: 115px;
}
.trending .container {
  max-width: 1200px;
}
.trending .container .title {
  margin: 0 12px 40px;
}
.trending .container .title h3 {
  font-size: 40px;
  color: rgb(14, 17, 51);
  text-transform: capitalize;
  margin-bottom: 10px;
}
.trending .container .title h3 span {
  position: relative;
}
.trending .container .title h3 span img {
  position: absolute;
  bottom: -3px;
  left: -12%;
  width: 120%;
  animation: 3s ease 0s infinite normal none running section-animation;
}
.trending .container .title p {
  font-size: 16px;
  color: rgb(83, 84, 91);
  margin-bottom: 15px;
  line-height: 26px;
  margin-bottom: 60px;
}
.trending .container .title .tablist {
  display: flex;
  justify-content: space-between;
  width: 44%;
}
.trending .container .title .tablist li a {
  font-size: 16px;
  font-weight: 500;
  color: rgb(14, 17, 51);
}
.trending .container .title .tablist li li a:first-child {
  color: red !important;
}
.trending .container .cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  margin-left: 100px;
}
.trending .container .cards .card {
  width: 30%;
  margin: 12px;
  border-radius: 6px;
  background: rgb(255, 255, 255);
}
.trending .container .cards .card .img {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.trending .container .cards .card .img img {
  border-radius: 6px 6px 0 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-out 0s;
}
.trending .container .cards .card .img img:hover {
  transform: scale(1.1);
}
.trending .container .cards .card .img .art {
  position: absolute;
  top: 6%;
  left: 5%;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background: rgb(177, 40, 255);
  padding: 0px 10px;
  border-radius: 4px;
}
.trending .container .cards .card .content {
  padding: 25px 30px 0;
}
.trending .container .cards .card .content .lesson {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
  color: rgb(109, 110, 117);
}
.trending .container .cards .card .content .lesson span i {
  color: rgb(83, 84, 91);
  padding-right: 7px;
}
.trending .container .cards .card .content .lesson span .fa-star {
  padding-right: 5px;
  color: rgb(255, 148, 21);
}
.trending .container .cards .card .content a {
  transition: all 0.3s ease-out 0s;
  font-size: 20px;
  font-weight: 600;
  color: rgb(14, 17, 51);
  display: block;
  margin-bottom: 25px;
}
.trending .container .cards .card .content a:hover {
  color: rgb(13, 110, 253);
}
.trending .container .cards .card .content .teacher {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.trending .container .cards .card .content .teacher img {
  margin-right: 15px;
  width: 35px;
  height: 35px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: rgba(1, 11, 60, 0.1) 0px 10px 14px;
}
.trending .container .cards .card .content .teacher p {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: rgb(83, 84, 91);
}
.trending .container .cards .card .content .teacher p:hover {
  color: rgb(13, 110, 253);
}
.trending .container .cards .card .content .price {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  border-top: 1px solid rgb(240, 240, 245);
}
.trending .container .cards .card .content .price span {
  font-size: 20px;
  color: rgb(177, 40, 255);
  font-weight: 600;
  padding-right: 5px;
}
.trending .container .cards .card .content .price span del {
  font-size: 14px;
  color: rgb(109, 110, 117);
  text-decoration: line-through;
}
.trending .container .cards .card .content .price a {
  color: rgb(14, 17, 51);
  font-size: 16px;
}
.trending .container .cards .card .content .price a:hover {
  color: blue;
}

.current {
  padding-bottom: 120px;
  padding-top: 115px;
}
.current .container {
  background-image: url(https://ng-educal-by.netlify.app/assets/img/events/events-shape.png);
}
.current .container .title {
  text-align: center;
}
.current .container .title h4 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
  color: rgb(14, 17, 51);
}
.current .container .title h4 span {
  position: relative;
}
.current .container .title h4 span img {
  position: absolute;
  left: -4px;
  bottom: 0;
  z-index: -1;
  animation: 3s ease 0s infinite normal none running section-animation;
}
.current .container .title p {
  font-size: 16px;
  font-weight: 400;
  color: rgb(109, 110, 117);
  margin-bottom: 15px;
  line-height: 26px;
}
.current .container .items .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
  padding: 28px 50px;
  border-radius: 6px;
  box-shadow: rgba(1, 11, 60, 0.1) 0px 30px 50px;
  background: rgb(255, 255, 255);
  width: 976px;
  margin-bottom: 10px;
}
.current .container .items .item .meta span {
  font-size: 16px;
  font-weight: 400;
  color: rgb(109, 110, 117);
  padding-right: 7px;
}
.current .container .items .item .meta a {
  display: block;
  font-size: 24px;
  font-weight: 600;
  color: rgb(14, 17, 51);
  margin-top: 6px;
}
.current .container .items .item a {
  font-size: 16px;
  color: rgb(109, 110, 117);
  font-weight: 500;
}
.current .container .items .item:hover::after {
  position: absolute;
  content: "";
  top: auto;
  bottom: 0px;
  left: -3px;
  width: 10%;
  height: 0%;
  background: rgb(43, 78, 255);
  border-radius: 6px;
  z-index: -1;
}

@keyframes section-animation {
  0% {
    width: 0px;
  }
  15% {
    width: 100%;
  }
  85% {
    opacity: 1;
  }
  90% {
    width: 100%;
    opacity: 0;
  }
  100% {
    width: 0px;
    opacity: 0;
  }
}
@keyframes hero-bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@keyframes hero-dot-1 {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes hero-circle-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}